    <footer>
        <nav>
            <section>
                <div>
                    <h3 class="title-footer">Over ons</h3>
                    <ul>
                        <li><a href="https://www.oba.nl/service.html">Veelgestelde vragen</a></li>
                        <li><a href="https://www.oba.nl/vestigingen.html">Vestigingen</a></li>
                        <li><a href="https://www.oba.nl/service/word-lid.html">Lidmaatschappen</a></li>
                        <li><a href="https://www.oba.nl/service/contact.html">Contact</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="title-footer">Service</h3>
                    <ul>
                        <li><a href="https://www.oba.nl/over-ons/werken-bij-de-oba.html">Vacatures</a></li>
                        <li><a href="https://www.oba.nl/over-ons/voor-de-pers.html">Voor de pers</a></li>
                        <li><a href="https://www.oba.nl/over-ons/partners.html">Partners</a></li>
                        <li><a href="https://www.oba.nl/over-ons/fondsenwerving.html">Fondsenwerving</a></li>
                    </ul>
                </div>
            </section>
            <div>
                <h3>Volg ons</h3>
                <ul>
                    <li><a class="socials icon-insta" href="https://www.instagram.com/obamsterdam/?hl=nl"></a></li>
                    <li><a class="socials icon-youtube" href="https://www.youtube.com/user/obamsterdam"></a></li>
                    <li><a class="socials icon-twitter" href="https://twitter.com/OBAmsterdam?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"></a></li>
                    <li><a class="socials icon-facebook" href="https://www.facebook.com/OBAmsterdam/?locale=nl_NL"></a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>

