    <footer>
        <nav>
            <section>
                <div>
                    <h3>Over ons</h3>
                    <ul>
                        <li><a href="https://www.oba.nl/service.html">Veelgestelde vragen</a></li>
                        <li><a href="https://www.oba.nl/vestigingen.html">Vestigingen</a></li>
                        <li><a href="https://www.oba.nl/service/word-lid.html">Lidmaatschappen</a></li>
                        <li><a href="https://www.oba.nl/service/contact.html">Contact</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Service</h3>
                    <ul>
                        <li><a href="https://www.oba.nl/over-ons/werken-bij-de-oba.html">Vacatures</a></li>
                        <li><a href="https://www.oba.nl/over-ons/voor-de-pers.html">Voor de pers</a></li>
                        <li><a href="https://www.oba.nl/over-ons/partners.html">Partners</a></li>
                        <li><a href="https://www.oba.nl/over-ons/fondsenwerving.html">Fondsenwerving</a></li>
                    </ul>
                </div>
            </section>
            <div>
                <h3>Volg ons </h3>
                <ul>
                    <li><a href="https://www.instagram.com/obamsterdam/?hl=nl"></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>

