<%- include('./partials/head.ejs') %>

<main>
	<section>
		<article>
			<h1> <%= results[0].titles[0] %></h1>
			<img src="<%= results[0].coverimages %>" alt="">
		</article>
	</section>
</main>

<%- include('./partials/foot.ejs') %>