<%- include('./partials/head.ejs') %>

<main>
    <section>
        <h2> Waar ben je naar opzoek?</h2>
        <div>
            <input type="text" placeholder="Ik zoek.."> 
            <button>
                Zoek <span class="material-symbols-outlined">
                    arrow_right
                    </span>
            </button>
        </div>
    </section>

    <section>
        <img src="/assets/content.png"  href="https://www.oba.nl/service/word-lid.html"> 
        <p>
            Maak kennis met verhalen in vele vormen. In jouw OBA vind je boeken om mee weg te kruipen, 
            een theatervoorstelling waar je stil van wordt en voorleesuurtjes waar je niet over uitgepraat raakt. 
        </p>
    </section>

    <section>
        <h2>Onze nieuwste aanwinsten</h2>
        <div>
            <% results.forEach(result => { %>
                <article>
                    <h3><%= result.titles %></h3>
                    <img src="<%= result.coverimages %>">
                </article>
            <% }) %>
        </div>
    </section>

</main>

<%- include('./partials/foot.ejs') %>