<%- include('./partials/head.ejs') %>

<main class="form-main">
    <section class="form-section">
        <h1>Uw reservering is gelukt!</h1>
    </section>
</main>

<%- include('./partials/foot.ejs') %>