.detail-section{
    padding: 2em 0;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.detail-book-cover{
    padding: 0 0.5em;
}


h1{
    font-size: 1.2em;
    margin: 0;
}

.container-btn-reserve{
    display: flex;
    justify-content: flex-end;
}

.btn-reserve{
    border: 1px solid;
    padding: 0.5em;
}

.detail-section > article{
    padding: 0 0 1.5em 0.2em;
}

dt{
    min-width: 5em;
}