.detail-section{
    padding: 4em 0;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.detail-book-cover{
    padding: 0 0.5em;
}


h1{
    font-size: 1.2em;
    margin: 0;
}

.container-btn-reserve{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-reserve{
    padding: 0.2em 3em;
    position: relative;
    top: 1em;
    color: white;
    background-color: black;
    border-radius:  0 2px 2px 0;
    text-decoration: none;
}

.btn-reserve:hover{
    background-color: red;
    color: white;
}

.detail-section > article{
    padding: 0 0 1.5em 0.2em;
}

dt{
    min-width: 5em;
}



/* Medium screen 768px */
@media (min-width: 48em) {

    .detail-section > article {
        padding-left: 3em;
    }

    dt {
        min-width: 6em;
    }

}

/* Large screen 1120px */
@media (min-width: 70em) {

    .detail-section{
        padding: 6em 0;
    }

    .detail-book-cover {
        width: 12em;
    }

    h1 {
        font-size: 1.7em;
    }
}