:root {
    --transparant: #0000;
    --shadow: .3rem;
    --border-color: #d6d6d6c3;
    --bg-color: #f6f6f6;
    --primary-color: red;
}

* {
box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

html {
font-family: 'Avenir, Arial';  
}

ul{
    list-style: none;
}


/* ===================== HEADER ===================== */

header{
    padding: 1em 1em 0;
}

header > section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header > section > img:nth-of-type(1){
    width: 4.5rem;
    height: 2.5rem;
}

header > section > img:nth-of-type(2){
    position: relative;
    top: 1em;
}

header > div:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

header > a:nth-of-type(1):hover{
    color: var(--primary-color);
}

a{
    color: black;
}

header > nav{
    width: 100%;
    font-weight: bold;
}

header > nav > ul{
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 2em;
    padding: 0;
    justify-content: center;

    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background: white;
    background-image: linear-gradient(90deg, white 0%, var(--bg-color) 50%, white 100%);
}

header > nav > ul > li{
    padding: .5em 0 .5em 0;
    transition: all .2s ease-in-out;
}

header > nav > ul > li:hover{
    transform: scale(1.1);
    color: var(--primary-color);
}

/* Zoek balk */

header > article{
    padding-top: 1em;
}
.overview-title{
    text-align: center;
    font-size: 22px;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form > label{
    padding-right: .5em;
}
.search-form > input{
    width: 13.5em;
    border: 1px solid var(--border-color);
    border-radius:  2px 0 0 2px;
}

.search-form > button{
    color: white;
    background-color: black;
    border-style: none;
    border-radius:  0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5em;
}

.search-form > button:hover{
    background-color: var(--primary-color);
}

.search-form > button, .search-form > input{
    height: 2em;
    margin: 0;
} 

/* ===================== MAIN ===================== */

main{
    margin: 0 auto;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section content */

.overview-content{
    margin-top: 2em;
}

.overview-content > img{
    width: 100%;
    height: auto;
    display: block;
}

.overview-content > p{
    text-align: center;
    max-width: 25em;
    font-size: 16px;
}

/* Section books */

h3, h4{
    font-size: 16px;
    margin: 0;
}

h4{
    text-align: center;
}

h3{
    text-align: left;
    text-transform:uppercase;
}

.book-list{
    display: flex;
    flex-flow: row;
    list-style: none;
    overflow: hidden;
    overflow: scroll;
    overflow-y: hidden;
    width: 100%;
    gap: 1em;
}

.overview-books article{
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    display: flex;
    width: 24em;
    height: 15em;
    padding: 1em;
}

.overview-books article > div{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.overview-books article > div > div:nth-last-of-type(2){
    flex-grow: 1;
}

.overview-books img{
    width: 7em;
    height: 9em;
    padding-right: 1em;
}

.overview-books dl{
    padding: 0;
}

dl > div{
    display: flex;
}

dt{
    font-weight: bolder;
}

dd{
    margin: 0;
    padding-left: 5px;
}

.detail-box{
    display: flex;
    justify-content: flex-end;
}

.btn-details{
    background-color: black;
    color: white;
    border-style : none;
    padding: .5em 1.5em;

}

button, a{
    transition: .2s ease-in-out;    
    cursor: pointer;
}

button:hover, .btn-details:hover{
    background-color: var(--primary-color);
    transform: scale(1.1);
    color: white;
}

a:hover{
    color: var(--primary-color);
    transform: scale(1.1);
}


/* ===================== FOOTER ===================== */

footer{
    background-color: black;
    color: white;
}

footer > nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
}

.title-footer{
    text-align: left;
}

footer ul{
    padding: 0;
}

footer a {
    color: white;
}

footer h3{
    font-size: 1.3em;
    text-align: center;
}

footer > nav > div > ul{
    display: flex;
    gap: 2em;
}

.socials{
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
} 

.icon-insta{
    background-image: url(/assets/icons/instagram-icon.png);
}

.icon-youtube{
    background-image: url(/assets/icons/youtube-icon.png);
}

.icon-twitter{
    background-image: url(/assets/icons/twitter-icon.png);
}

.icon-facebook{
    background-image: url(/assets/icons/facebook-icon.png);
}


/* ====================== MEDIA QUERY'S ====================== */

/* Small screen 480px */
@media (min-width: 30em) {
    header > section > img:nth-of-type(1){
        width: 6.5rem;
        height: 3.5rem;
    }

    header > section > img:nth-of-type(2){  
        min-width: 12em;
    }

    main > section > div > input{
        width: 14em;
    }

}

/* Medium screen 768px */
@media (min-width: 48em) {

    body{
        width: 90%;
        margin: 0 auto;
    }

    header > section > img:nth-of-type(1){
        width: 8.5rem;
        height: 4.5rem;
    }

    header > section > img:nth-of-type(2){  
        min-width: 14em;
    }

    main > section > div > input{
        width: 20em;
    }

    footer section{
        width: 60%;
    }

}

/* Large screen 1120px */
@media (min-width: 70em) {

    body{
        width: 80%;
        margin: 0 auto;
    }

    section:nth-of-type(2) > p{
        max-width: 35em;
    }

    main > section > div > input{
        width: 25em;
    }

}

/* Extra Large screen 1400px */
@media (min-width:88em) {

    body{
        width: 70%;
        margin: 0 auto;
    }

    section:nth-of-type(2) > p{
        max-width: 35em;
    }

    main > section > div > input{
        width: 25em;
    }

    footer > nav{
        width: 90%;
    }
}