:root {
    --transparant: #0000;
    --shadow: .3rem;
    --border-color: #d6d6d6c3;
    --primary-color: red;
}

* {
box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

html {
font-family: 'Avenir';  
}

ul{
    list-style: none;
}


/* ===================== HEADER ===================== */

header{
    padding: 1em 1em 0;
}

header > section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > section > img:nth-of-type(1){
    width: 4.5rem;
    height: 2.5rem;
}

header > section > img:nth-of-type(2){
    position: relative;
    top: 1em;
}

header > a:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 1em;
    font-weight: bold;
}

header > a:nth-of-type(1):hover{
color: var(--primary-color);
}

a:visited {
    color: black;
}

header > nav{
    width: 100%;
    font-weight: bold;
}

header > nav > ul{
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 2em;
    padding: 0;
    justify-content: center;

    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background: #ffffff;
    background-image: linear-gradient(90deg,#ffffff 0%, #f6f6f6 50%, #ffffff 100%);
}

header > nav > ul > li{
    padding: .5em 0 .5em 0;
    transition: all .2s ease-in-out;
}

header > nav > ul > li:hover{
    transform: scale(1.1);
    color: var(--primary-color);
}

/* ===================== MAIN ===================== */

main{
    width: 96%;
    margin: 0 auto;
}

main > section, article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Zoek balk */
section > h2{
    text-align: center;
    font-size: 22px;
    position: relative;
    bottom: 0.6em;
}

main > section > div{
    display: flex;
}

main > section > div > input{
    width: 12.5em;
    border: 1px solid var(--border-color);
    border-radius:  2px 0 0 2px;
}

main > section > div > button{
    color: white;
    background-color: black;
    border-style: none;
    border-radius:  0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5em;
}

main > section > div > button:hover{
    background-color: var(--primary-color);
}

main > section > div > button, main > section > div > input{
    height: 2em;
    margin: 0;
} 

/* Section content */

section:nth-of-type(2){
    margin-top: 2em;
}

section:nth-of-type(2) > img{
    width: 100%;
    height: auto;
    display: block;
}

section:nth-of-type(2) > p{
    text-align: center;
    max-width: 25em;
    font-size: 16px;
}

/* Section books */
section:nth-of-type(3)> div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

/* ===================== FOOTER ===================== */

footer{
    background-color: black;
    color: white;
}

footer > nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer > nav > ul:nth-of-type(3){

} */


/* ====================== MEDIA QUERY'S ====================== */

/* Small screen 480px */
@media (min-width: 30em) {
    header > section > img:nth-of-type(1){
        width: 6.5rem;
        height: 3.5rem;
    }

    header > section > img:nth-of-type(2){  
        min-width: 12em;
    }

    main > section > div > input{
        width: 14em;
    }
}

/* Medium screen 768px */
@media (min-width: 48em) {

    body{
        width: 90%;
        margin: 0 auto;
    }

    header > section > img:nth-of-type(1){
        width: 8.5rem;
        height: 4.5rem;
    }

    header > section > img:nth-of-type(2){  
        min-width: 14em;
    }

    main > section > div > input{
        width: 20em;
    }

    section:nth-of-type(2) > img{
        width: 90%;
    }

}

/* Large screen 1120px */
@media (min-width: 70em) {

    body{
        width: 80%;
        margin: 0 auto;
    }

    section:nth-of-type(2) > p{
        max-width: 35em;
    }

    main > section > div > input{
        width: 25em;
    }

    section:nth-of-type(2) > img{
        width: 90%;
    }
}

/* Extra Large screen 1400px */
@media (min-width:88em) {

    body{
        width: 70%;
        margin: 0 auto;
    }

    section:nth-of-type(2) > p{
        max-width: 35em;
    }

    main > section > div > input{
        width: 25em;
    }

    section:nth-of-type(2) > img{
        width: 90%;
    }
}